#page-landing {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-wrapper :is(main) {
    max-width: 350px;
}

#page-landing .content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    max-height: 680px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    background: url('../../images/landing.svg') no-repeat 80% center;
}

#page-landing .content-wrapper :is(main, h1) {
    max-width: 350px;
    font-size: 76px;
    font-weight: 900;
    line-height: 70px;
}

#page-landing .content-wrapper :is(main, p) {
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
}

.content-wrapper .location {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.content-wrapper .location :is(strong) {
    font-weight: 800;
}

.content-wrapper .enter-app {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80px;
    height: 80px;
    background: #ffd666;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.content-wrapper .enter-app:hover {
    background: #96FEFF;
}

.content-wrapper .login-app {
    position: absolute;
    right: 0;
    bottom: 1;
    width: 80px;
    height: 80px;
    background: #FFF;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

.content-wrapper .login-app:hover {
    background: #96FEFF;
}

.content-wrapper .enter-login {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 10px;
    height: 56px;
    width: 222px;
    border-radius: 20px;
    background-color: #12D4E0;
    transition: background-color 0.5s, color 0.5s;
    cursor: pointer;
}

.content-wrapper .enter-login:hover {
    background-color: #96FEFF;
    color: #15C3D6;
}

.content-wrapper .enter-login {
    text-decoration: none;
}

.content-wrapper .enter-login strong {
    color: #FFF;
}