#page-dashboard {
  display: flex;
  justify-content: center;
}

#page-dashboard main {
  flex: 1;
  margin: 4rem 0 4rem calc(96px + calc(100vw - 100%));
  max-width: 1200px;
}

#page-dashboard div.cards-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#page-dashboard main.content-wrapper h1 {
  width: 100%;
  font-size: 32px;
  line-height: 34px;
  color: #5c8599;
  font-weight: 700;
  border-bottom: 1px solid #d3e2e5;
  margin-bottom: 40px;
  padding-bottom: 24px;
}

#page-dashboard div.card-container {
  display: flex;
  flex-direction: column;
  width: 544px;
  height: 280px;
  border: 1px solid #d3e2e5;
  border-radius: 20px;
  margin-bottom: 2rem;
  overflow: hidden;
}

#page-dashboard div.card-container:nth-child(2n-1) {
  margin-right: 1rem;
}

#page-dashboard div.card-container .leaflet-container {
  width: 100%;
  background-color: #fff;
  height: 225px;
}

#page-dashboard div.card-container > div:last-child {
  background-color: #fff;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
}

#page-dashboard div.card-container > div:last-child strong {
  color: #4d6f80;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
}

#page-dashboard div.card-container > div:last-child button,
div.card-container > div:last-child a {
  display: inline-block;

  padding: 12px;
  background-color: #ebf2f5;
  border: 0;
  border-radius: 16px;
  margin-left: 8px;
  line-height: 0;
  cursor: pointer;
  transition: background-color 0.4s;
}

#page-dashboard div.card-container > div:last-child button:hover,
div.card-container > div:last-child a:hover {
  background-color: #ccdee5;
}

.button-review{
  background: #228a78;
}